/** 
Folha de estilo do site SupLife
@author Henrique Fortunato de Oliveira
**/


/* _________________________Layout ________________________ */

/* Variáveis */
:root {
    --Preto: #000000;
    --Rosa: #FF92F7;
    --Azul: #00EFEF;
    --Preto: #000000;
    --Branco: #FFFFFF;



}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "sans-serif";
}

.container {
    display: flex;
    margin: 0 auto;
}

/* Botão */
.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--Preto);
    padding: 10px 40px;
    color: var(--Branco);
    border-radius: 25px;
    border: 2px solid var(--Azul);
}

/* ___________________________FIM DO LAYOUT__________________ */

/* SMARTPHONE PORTRAIT */
/* >>>>>>>>>>>>>>>>>>>>Cabeçalho */

header {
    height: 100px;
    background-color: var(--Preto);
}

.logo img {
    width: 128px;
    height: 100px;
    margin-top: 0px;
    margin-left: 20px;

}

#check {
    display: none;
}

label {
    font-size: 3rem;
    color: rgb(218, 96, 248);
    position: fixed;
    top: 8px;
    right: 55px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 65%;
    right: -65%;
    transition: all 0.5s;
}

/* Ação para caixa check */
/* Quando selecionada mudar ul */


#check:checked~ul {
    right: 0px;
    background-color: #00EFEF;
}


nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--Preto);
    text-align: right;

}

nav ul li a {
    text-decoration: none;
    color: var(--Preto)
}

/* Principal */
main {
    height: 70vh;
    background: url(img/unnamed.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

main .container {
    height: 119%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #faf1f7;
    font-family: sans-serif;

}

main h2 {
    color: #00EFEF;
    font-size: 1.00rem;
    margin-bottom: 30px;


}

/* Destaque */

#destque{
    padding: 50px 10px;
    background: url(./img/banner2.png);
    background-size: cover;
    background-position: center;
}

#destauqe.container{
    flex-direction: column;
}

#hero{
    text-align: center;
}

#hero img{
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
}

.hero-text h2{
    font-size: 1.6rem;
    color: (var(--Branco));
    margin-bottom: 15px;
}
.hero-text p{
    color: var(--Preto);
}

.topic{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topic p{
    margin-left: 15px;
}
/* FIM DO PORTRAIT */


/* Smartphonen landscape */

@media(min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2.5rem;
    }
}


/* Principal */
main {
    height: 75vh;
}

main h1 {
    font-size: 2.75rem;
}

main h2 {
    font-size: 2.5rem;
}

/* Destaque */
#destaque{
    padding: 50px 0px;
}

#destaque.container{
    flex-direction: row;
    align-items: center;
}

#hero{
    text-align: left;
}

#hero img{
    width: 200px;
    height: 200px;
    margin: 0px 30px 0px 0px;
}

.topic{
    display: none;
}

/* __________________________FIM DO SMARTPHONE_____________ */

/* TABLET PORTRAIT */

@media(min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal */
    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/* FIM DO PORTRAIT */


/* Tablet landscape */

@media(min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }

}

/* _____________________________FIM DO TABLET_____________________ */

/* NOTEBOOK / PC - HD */
@media(min-width: 1200px) {

    /* Layout */
    .container {
        justify-content: space-between;
        max-width: 1010px;
    }

    /* Cabeçalho */
    header {
        height: 100px;

    }

    .logo img {
        width: 190px;
        height: 190px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--Branco);
    }

    /* Principal */
    main {
        height: 85vh;
    }

    /* Destaque */
    #destaque{
        background-attachment: fixed; 
    }
/* Efeito paralax */
}

#hero img{
    width: 400px;
    height: 400px;
}

.hero-text h2{
    font-size: 2rem;
}

.topic{
    display: flex;
}

/* _________________________________FIM DO NOTEBOOK/HD___________________ */

/* __________________________________NOTEBOOK 4K_________________________ */

@media(min-width:1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

}

/* ____________________________________FIM DO NOTEBOOK 4K_____________________ */