/** 
Folha de estilo do site Neon Play
@author Henrique Fortunato
**/

/* _________________________Layout ________________________ */

/* Variáveis */
:root {
  --Preto: #000000;
  --Rosa: #FF92F7;
  --Azul: #00EFEF;
  --Branco: #FFFFFF;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
}

/* Botão */
.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--Preto);
  padding: 10px 40px;
  color: var(--Branco);
  border-radius: 25px;
  border: 2px solid var(--Azul);
  margin: 25px;
}
/*_____________________________ Cartões_______________________ */
.card{
  width: 340px;
  height: 520px;
  background-color: var(--Branco);
  margin-top: 25px;
  border: 2px solid var(--Preto);
  
}

/* .card img{ */
  /* border-radius: 25px 25px 0px 0px; */
/* } */
.card h2{
  font-size: 1.3rem;
  margin: 15px 0px;
}
.card p {
  color: var(--Azul);
  text-align: left;
  padding: 0px 10px 30px 10px;
  padding-left: 28px;
}

html{
  scroll-behavior: smooth;
}
/* ___________________________FIM DO LAYOUT__________________ */



/* SMARTPHONE PORTRAIT______________________________________ */

/*____________________________Cabeçalho_____________________ */

header {
  height: 100px;
  background-color: var(--Preto);
}

.logo img {
  width: 128px;
  height: 128px;
}

/* Checkbox invisível para ativar menu */
#check {
  display: none;
}

/* Ícone do menu hamburguer */
label {
  font-size: 3rem;
  color: var(--Azul);
  position: fixed;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

/* Menu lateral (mobile) */
nav ul {
  list-style: none;
  height: 100vh;
  position: fixed;
  top: 100px;
  right: -65%;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;

}

/* Ação para caixa check */
#check:checked~ul {
  right: 0;
}

/* Itens do menu */
nav ul li {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid var(--Azul);
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  color: var(--Branco);
}

nav ul li a:hover {
  color: var(--Azul);
  text-decoration: none;
}

/* __________________________PRINCIPAL__________________ */
main {
  height: 70vh;
  background: url(img/unnamed.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
}

main .container {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: #faf1f7;
  font-family: sans-serif;
}

main h2 {
  color: #00EFEF;
  font-size: 1rem;
  font-weight: 900;
}

/* __________________________DESTAQUE__________________ */
#destaque {
  margin-top: 0%;
  padding: 50px 10px;
  background-color: #00EFEF;
  min-height: 5vh;

}

#destaque .container {
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}


#hero {
  text-align: center;

}

#hero img {
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
  object-fit: contain;
  display: none;
}

.hero-text h2 {
  margin-top: 10px;
  font-size: 1.6rem;
  color: var(--Preto);
  margin-bottom: 15px;
  text-align: center;
}

.hero-text p {
  color: var(--Preto);
}

/* Ícones de tópicos */
.topic {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.topic img {
  width: 40px;
  height: 40px;
}

.topic p {
  margin-left: 15px;
  color: var(--Preto);
  font-weight: 500;
}

/*_______________________________Sobre_____________________ */
#sobre {
  padding: 50px 10px;
}

#sobre .container{
  flex-direction: column;
}

/* __________________Cartões______________________________ */
#consoles{
  background-color: var(--Preto);
  padding: 50px 0px;
}

#consoles .container{
  flex-direction: column;
  text-align: center;
  align-items: center;
}


/* FIM DO PORTRAIT________________________________________ */


/* Smartphone Landscape__________________________________ */
@media (min-width: 576px) {

  /* Layout */
  .container {
    max-width: 540px;
  }

  /* Cabeçalho */
  nav ul {
    width: 40%;
    right: -40%;
  }

  /* Principal */
  main {
    height: 75vh;
  }

  main h1 {
    font-size: 2.75rem;
  }

  main h2 {
    font-size: 2.5rem;
  }

  #consoles .container{
    flex-direction: column
  }

}

/* Fim - Smartphone Landscape___________________________________ */



/* TABLET Portrait______________________________________________*/

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  main h1 {
    font-size: 3rem;
  }

  main h2 {
    font-size: 2rem;
  }

  #hero {
    text-align: center;

  }

  #hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
    object-fit: contain;
    display: none;
  }

  #consoles .container{
    align-items: center;
    text-align: center;
  }
}

/* Fim Tablet Portrait_______________________________________________ */


/* Tablet Landscape__________________________________________________ */
@media (min-width: 992px) {

  /* Layout */
  .container {
    max-width: 960px;
    
  }
  #consoles .container{
    flex-direction: row;
  }
}

/* Fim Tablet Landscape_______________________________________________ */


/* NOTEBOOK / PC_______________________________________________________*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    justify-content: space-between;

  }

  header {
    height: 100px;
  }

  .logo img {
    width: 150px;
    height: 150px;
  }

  /* Remove menu hamburguer no desktop */
  label.menu-icon {
    display: none;
  }

  nav ul {
    position: static;
    display: flex;
    width: 100%;
    background: none;
    padding: 0;
    margin-top: 20px;
  }

  nav ul li {
    border: none;
    margin-left: 30px;
  }

  nav ul li a {
    color: var(--Branco);
  }

  nav ul li a:hover {
    color: var(--Azul);
  }

  /* Hero e destaque */
  #destaque .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #hero {
    text-align: left;
  }

  #hero img {
    width: 350px;
    height: auto;
  }

  .hero-text {
    max-width: 500px;
  }

  .topic {
    display: flex;
  }

  #consoles .container{
    padding-left: 55px;

  }
}


/* Fim do Notebook PC_________________________________________________ */


/* 4K_________________________________________________________________ */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  main h1 {
    font-size: 5rem;
    align-items: center;
  }
}

/* Fim do 4k___________________________________________________________ */